body {
    background-color:  gray;
    height: 100%;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
*{
    margin: 0; padding: 0; box-sizing: border-box; font-size: 1;
}
header {
    height: 70px;
    width: 1150px;
    /* border: 3px solid rgb(255, 255, 255); */
    background-color: rgb(51, 51, 51);
}
#left {
    height: 100%;
    width: 250px;
    background-color: rgb(0, 0, 0);
    float: left;
}
#right {
    height: 100%;
    width: 25%;
    float: right;
}
main {
    display: flex;
    height: 600px;
    width: 1150px;

}
#nav {
    background-color: tomato;
    height: 100%;
    width: 250px;
    
}
#nav ul {
    list-style: none;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
#nav li {
    flex-direction: column;
    list-style: none;
    height: 35px;
    width: 100%;
    text-align: left;
    display: block;
    
}
#nav li a {
    color:white;
    text-decoration: none;
    margin-left: 50px;
}
aside {
    height: 100%;
    width: 900px;
    background-color: white;
}
#uno {
    height: 40px;
    width: 500px;
    border: 3px solid rgb(0, 0, 0);
    margin: auto;
    margin-top: 25px;
}